@import "tachyons.css";

.garamond {
  font-family: "EB Garamond", serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: "EB Garamond", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.panel {
  /* needed for the flex layout */
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
}

.panel > a > img {
  width: 100%;
  min-height: 100%;
}

.panel > a {
  color: transparent;
}
.panel > a:hover {
  color: black;
}

.panel:nth-child(4n-7) {
  /* or 4n+1 */
  grid-row-end: span 2;
}

.content {
  line-height: 1.35;
}

article {
  margin: 0 auto;
}
